<ion-row class="ion-justify-content-center">
  <ion-col class="ion-align-self-center" size="8">
    <ion-item class="ion-margin input-icon">
      <ion-input clear-input="true" type="text" required
      placeholder="Nombre de tablero" name="correo">
     </ion-input>
    </ion-item>
  </ion-col>
  <ion-col class="ion-align-self-center" size="2">
    <ion-icon name="search-circle" style="zoom:1.7;"></ion-icon>
  </ion-col>
  <ion-col class="ion-align-self-center" size="2">
    <ion-icon name="close-circle" style="zoom:1.7;"></ion-icon>
  </ion-col>
</ion-row>

<ion-footer>
  <ion-row class="ion-justify-content-center fila">
    <ion-col size="6" class="titulo ion-text-start ion-align-self-center">
      <b>Tus tableros</b> 
    </ion-col>
    <ion-col size="4" class="ion-text-start ion-align-self-center">
      <b>Cantidad: 3</b> 
    </ion-col>
    <ion-col size="2" class="ion-align-self-center"> 
      <ion-icon name="add" style="zoom:1.7;" (click)="goToCrearTablero()"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-grid class="contenedor-tus-tableros">

    <ion-list class="lista">
      <ion-item *ngFor="let el of [1,2,3,34,4,4,4]">
        <ion-card class="carta">
          <ion-card-header>
           <ion-row class="ion-justify-content-center">
             <ion-col class="subtitulo ion-text-start ion-align-self-center" size="10">
              <b>Proyecto</b> 
             </ion-col>
             <ion-col class="ion-align-self-center ion-text-end" size="2">
              <ion-icon name="information-circle" style="zoom:1.7;" (click)="informacionTablero()"></ion-icon>
            </ion-col>
           </ion-row>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row class="ion-justify-content-center">
              <ion-col class="ion-text-start ion-align-self-center" size="3">
               Tipo:
              </ion-col>
              <ion-col class="ion-text-start ion-align-self-center" size="9">
                Deportivo
               </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col class="ion-text-start ion-align-self-center" size="3">
               Creador:
              </ion-col>
              <ion-col class="ion-text-start ion-align-self-center" size="7">
                KevinAR
               </ion-col>
               <ion-col class="ion-align-self-center ion-text-end" size="2">
                <ion-icon name="trash" style="zoom:1.7;" (click)="eliminarTablero()"></ion-icon>
              </ion-col>
            </ion-row>
   
          </ion-card-content>
        </ion-card>
      </ion-item>

    </ion-list>
  </ion-grid>

  <ion-row class="ion-justify-content-center fila">
    <ion-col size="6" class="titulo ion-text-start ion-align-self-center">
     <b>Colaboraciones</b> 
    </ion-col>
    <ion-col size="4" offset="2" class="ion-text-end ion-align-self-center">
      <b>Cantidad: 3</b> 
    </ion-col>
  </ion-row>

  <ion-grid class="contenedor-tus-tableros">
    <ion-list class="lista">
      <ion-item *ngFor="let el of [1,2,3,34,4,4,4]">
        <ion-card class="carta">
          <ion-card-header>
           <ion-row class="ion-justify-content-center">
             <ion-col class="subtitulo ion-text-start ion-align-self-center" size="10">
              <b>Proyecto</b> 
             </ion-col>
             <ion-col class="ion-align-self-center ion-text-end" size="2">
              <ion-icon name="information-circle" style="zoom:1.7;" (click)="informacionTablero()"></ion-icon>
            </ion-col>
           </ion-row>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row class="ion-justify-content-center">
              <ion-col class="ion-text-start ion-align-self-center" size="3">
               Tipo:
              </ion-col>
              <ion-col class="ion-text-start ion-align-self-center" size="9">
                Deportivo
               </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col class="ion-text-start ion-align-self-center" size="3">
               Creador:
              </ion-col>
              <ion-col class="ion-text-start ion-align-self-center" size="9">
                KevinAR
               </ion-col>
            </ion-row>
   
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-footer>





