<ion-row class="ion-justify-content-center titulo">
  <ion-col class="ion-align-self-center ion-text-start cabecera">
    <b>Perfil</b>
  </ion-col>
  <ion-col class="ion-align-self-center ion-text-end">
      <ion-button color="danger" (click)="cerrarSesion()">Cerrar sesión</ion-button>
  </ion-col>
</ion-row>

<ion-content>
  <ion-list class="lista">
      <ion-item class="ion-text-center">
          <ion-grid>
              <ion-row class="ion-justify-content-center">
                  <ion-col class="ion-align-self-center ion-text-start">
                      <b>Nombre</b>
                  </ion-col>
                  <ion-col class="ion-align-self-center ion-text-end">
                      {{perfilProfesor.nombre}}
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-item>
      <ion-item class="ion-text-center">
          <ion-grid>
              <ion-row class="ion-justify-content-center">
                  <ion-col class="ion-align-self-center ion-text-start">
                      <b>Carné institucional</b>
                  </ion-col>
                  <ion-col class="ion-align-self-center ion-text-end">
                      {{perfilProfesor.carnet}}
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col class="ion-align-self-center ion-text-start">
                    <b>Correo Institucional</b>
                </ion-col>
                <ion-col class="ion-align-self-center ion-text-end">
                    {{perfilProfesor.correoInstitucional}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
      <ion-item class="ion-text-center">
          <ion-grid>
              <ion-row class="ion-justify-content-center">
                  <ion-col class="ion-align-self-center ion-text-start">
                      <b>Teléfono</b>
                  </ion-col>
                  <ion-col class="ion-align-self-center ion-text-end">
                      {{perfilProfesor.telefono}}
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-item>
  </ion-list>

  <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size="4">
        <ion-button color="medium" expand="block" (click)="goToEditarPerfil()">editar</ion-button>
      </ion-col>
  </ion-row>
</ion-content>
