.carta{
    width: 100%;
}

.input-icon{
    border-radius: 2vh;
    color: #ffff;
    font-size: 12px;
}

.titulo{
    font-size: 20px;
}

.subtitulo{
    font-size: 17px;
}
.lista{
    max-height: 80vh;
    min-height: 80vh;
    overflow-y: scroll;
}