.cabecera{
    font-size: 20px;
}
.titulo{
    border-style: outset;
}

.tipoTablero{
    border-style: solid;
    background-color: rgb(99, 91, 80);
}

.estado{
    border-style: solid;
    background-color: rgb(223, 214, 201);
}


