
<img class="wallpaper" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1606235915/CE3101/Segundo%20Proyecto/Fondo_de_pantalla_login.jpg">

<div class="container registerContainer">
    <img class="logo" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621993293/CE4101/TaskPlanner/Logo_small.png">
    <input type="text" id="name1" class="registerInput" style="top: 22vh; left: 30vw;" placeholder="Primer nombre">
    <input type="text" id="name2" class="registerInput" style="top: 22vh; left: 55vw" placeholder="Segundo nombre">
    <input type="text" id="surname1" class="registerInput" style="top: 32vh; left: 30vw" placeholder="Primer apellido">
    <input type="text" id="surname2" class="registerInput" style="top: 32vh; left: 55vw" placeholder="Segundo apellido">
    <input type="text" id="email" class="registerInput" style="top: 42vh; left: 30vw" placeholder="Correo institucional">
    <input type="text" id="id" class="registerInput" style="top: 42vh; left: 55vw" placeholder="Carné institucional">
    <input type="text" id="phoneNumber" class="registerInput" style="top: 52vh; left: 30vw" placeholder="Número de teléfono">
    
    <button class="registerButton" (click)="register()" >¡Registrar!</button>

</div>

<img class="goBackLogo" matTooltip="Atrás" (click)="goToRegister()" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621985612/CE4101/TaskPlanner/Back.png">


