<ion-row class="ion-justify-content-center titulo">
    <ion-col class="ion-align-self-center ion-text-start cabecera">
      <b>Perfil</b>
    </ion-col>
    <ion-col class="ion-align-self-center ion-text-end">
        <ion-button color="danger" (click)="goToLogin()">Cerrar sesión</ion-button>
    </ion-col>
</ion-row>

<ion-content>
    <ion-list class="lista">
        <ion-item class="ion-text-center">
          <ion-label><b>Nombre</b></ion-label>
          <ion-label>Kevin</ion-label>
        </ion-item>
        <ion-item class="ion-text-center">
            <ion-label><b>Apellidos</b></ion-label>
            <ion-label>Acevedo Rodríguez</ion-label>
        </ion-item>
        <ion-item class="ion-text-center">
            <ion-label><b>Carné estudiantíl</b></ion-label>
            <ion-label>2018148661</ion-label>
        </ion-item>
        <ion-item class="ion-text-center">
            <ion-label><b>Correo institucional</b></ion-label>
            <ion-label>keviinar51@gmail.com</ion-label>
        </ion-item>
        <ion-item class="ion-text-center">
            <ion-label><b>Teléfono</b></ion-label>
            <ion-label>83488906</ion-label>
        </ion-item>
        <ion-item class="ion-text-center">
            <ion-label><b>Carrera</b></ion-label>
            <ion-label>Ingeniería en Computadores</ion-label>
        </ion-item>
        <ion-item class="ion-text-center">
            <ion-label><b>Residencia actual</b></ion-label>
            <ion-label>Guanacaste</ion-label>
        </ion-item>
        <ion-item class="ion-text-center">
            <ion-label><b>Provincia en curso</b></ion-label>
            <ion-label>Cartago</ion-label>
        </ion-item>
        <ion-item class="ion-text-center">
            <ion-label><b>Area de interes</b></ion-label>
            <ion-label>Deportes</ion-label>
        </ion-item>
    </ion-list>

    <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size="4">
          <ion-button color="medium" expand="block" (click)="goToEditarPerfil()">editar</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
