.fila-logo{
    padding-top: 20%;
}
.input-icon{
    border-radius: 2vh;
    color: #ffff;
}

.fila-contrasena{
    padding-top: 10%;
}

.fila-boton{
    padding-top: 5%;
}

h1 { color: #1C1427;
    font-family: 'Righteous', cursive;
    font-size: 65px;
    font-weight: normal;
    line-height: 60px;
    margin: 10px 0 20px;
    text-shadow: 2px 2px 0 #000;
    margin: 10px 0 24px;
    text-align: center;
}
