h5 {
    text-align:center;
}

.lista{
    max-height: 70vh;
    min-height: 70vh;
    overflow-y: scroll;
}
.carta{
    width: 100%;
}

.input-icon{
    border-radius: 2vh;
    color: #ffff;
    font-size: 12px;
}

.titulo{
    font-size: 20px;
}

.subtitulo{
    font-size: 17px;
}

.fila{
    border-style: outset;
   
}