<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tableros">
        <ion-icon name="easel"></ion-icon>
        <ion-label>Tableros</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="amigos">
        <ion-icon name="people"></ion-icon>
        <ion-label>Amigos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="dashboard">
        <ion-icon name="bar-chart"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="perfil">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>