<ion-row class="ion-justify-content-center">
  <ion-col class="ion-align-self-center" size="8">
    <ion-item class="ion-margin input-icon">
      <ion-input clear-input="false" type="text"
      placeholder="Nombre del tablero" name="searchTerm" id="searchTerm"
      [(ngModel)]="searchTerm" (input)="search($event.target.value)">
     </ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="2" class="ion-align-self-center"> 
    <ion-icon name="close-circle" style="zoom:1.7;" (click)="limpiarBusqueda()"></ion-icon>
  </ion-col>
</ion-row>

<ion-footer>
  <ion-row class="ion-justify-content-center fila">
    <ion-col size="6" class="titulo ion-text-start ion-align-self-center">
      <b>Tus tableros</b> 
    </ion-col>
    <ion-col size="4" class="ion-text-start ion-align-self-center">
      <b>Cantidad: {{tablerosCreados.length}}</b> 
    </ion-col>
    <ion-col size="2" class="ion-align-self-center"> 
      <ion-icon name="add" style="zoom:1.7;" (click)="crearTablero()"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-grid class="contenedor-tus-tableros">

    <ion-list class="lista">
      <ion-item *ngFor="let tablero of tablerosCreadosFiltro"> 
        <ion-card class="carta">
          <ion-card-header>
           <ion-row class="ion-justify-content-center">
             <ion-col class="subtitulo ion-text-start ion-align-self-center" size="10" (click)="goToContenidoTablero(tablero.nombre, tablero.creador)">
              <b>{{tablero.nombre}}</b> 
             </ion-col>
             <ion-col class="ion-align-self-center ion-text-end" size="2">
              <ion-icon name="information-circle" style="zoom:1.7;" (click)="seleccionarTableroInfo(tablero); informacionTablero()"></ion-icon>
            </ion-col>
           </ion-row>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row class="ion-justify-content-center" (click)="goToContenidoTablero(tablero.nombre, tablero.creador)">
              <ion-col class="ion-text-start ion-align-self-center" size="3">
               Tipo:
              </ion-col>
              <ion-col class="ion-text-start ion-align-self-center" size="9">
                {{tablero.tipo}}
               </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col class="ion-text-start ion-align-self-center" size="3" (click)="goToContenidoTablero(tablero.nombre, tablero.creador)">
               Creador:
              </ion-col>
              <ion-col class="ion-text-start ion-align-self-center" size="7" (click)="goToContenidoTablero(tablero.nombre, tablero.creador)">
                {{tablero.creador}}
               </ion-col>
               <ion-col class="ion-align-self-center ion-text-end" size="2">
                <ion-icon name="trash" style="zoom:1.7;" (click)="eliminarTablero(tablero)"></ion-icon>
              </ion-col>
            </ion-row>
   
          </ion-card-content>
        </ion-card>
      </ion-item>

    </ion-list>
  </ion-grid>

  <ion-row class="ion-justify-content-center fila">
    <ion-col size="6" class="titulo ion-text-start ion-align-self-center">
     <b>Colaboraciones</b> 
    </ion-col>
    <ion-col size="4" offset="2" class="ion-text-end ion-align-self-center">
      <b>Cantidad: {{tablerosColaboraciones.length}}</b> 
    </ion-col>
  </ion-row>

  <ion-grid class="contenedor-tus-tableros">
    <ion-list class="lista">
      <ion-item *ngFor="let tablero of tablerosColaboracionesFiltro">
        <ion-card class="carta">
          <ion-card-header>
           <ion-row class="ion-justify-content-center">
             <ion-col class="subtitulo ion-text-start ion-align-self-center" size="10" (click)="goToContenidoTablero(tablero.nombre, tablero.creador)">
              <b>{{tablero.nombre}}</b> 
             </ion-col>
             <ion-col class="ion-align-self-center ion-text-end" size="2">
              <ion-icon name="information-circle" style="zoom:1.7;" (click)="seleccionarTableroInfo(tablero); informacionTablero()"></ion-icon>
            </ion-col>
           </ion-row>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row class="ion-justify-content-center" (click)="goToContenidoTablero(tablero.nombre, tablero.creador)">
              <ion-col class="ion-text-start ion-align-self-center" size="3">
               Tipo:
              </ion-col>
              <ion-col class="ion-text-start ion-align-self-center" size="9">
                {{tablero.tipo}}
               </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center" (click)="goToContenidoTablero(tablero.nombre, tablero.creador)">
              <ion-col class="ion-text-start ion-align-self-center" size="3">
               Creador:
              </ion-col>
              <ion-col class="ion-text-start ion-align-self-center" size="9">
                {{tablero.creador}}
               </ion-col>
            </ion-row>
   
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-footer>





