<ion-row class="ion-justify-content-center cabecera">
  <ion-col class="ion-align-self-center" size="1">
    <ion-icon name="arrow-back-circle" style="zoom:1.7;" (click)="goToPerfil()"></ion-icon>
  </ion-col>
  <ion-col class="ion-align-self-center ion-text-start titulo" size="11">
    <b>Editar perfil</b>
  </ion-col>
</ion-row>


<ion-content>
  <form #form="ngForm" novalidate>
    <ion-grid>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center">
          <ion-text>
            <h5>Primer nombre</h5>
          </ion-text>
          <ion-item class="ion-margin input-icon">
            <ion-input clear-input="true" type="text" required
            name="correo">
           </ion-input>
          </ion-item>
        </ion-col>

        <ion-col class="ion-align-self-center">
          <ion-text>
            <h5>Segundo nombre</h5>
          </ion-text>
          <ion-item class="ion-margin input-icon">
            <ion-input clear-input="true" type="text" required
            name="correo">
           </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center">
          <ion-text>
            <h5>Primer apellido</h5>
          </ion-text>
          <ion-item class="ion-margin input-icon">
            <ion-input clear-input="true" type="text" required
            name="correo">
           </ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-text>
            <h5>Segundo apellido</h5>
          </ion-text>
          <ion-item class="ion-margin input-icon">
            <ion-input clear-input="true" type="text" required
            name="correo">
           </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size="9">
          <ion-text>
            <h5>Carné estudiantil</h5>
          </ion-text>
          <ion-item class="ion-margin input-icon">
            <ion-input clear-input="true" type="text" required
            name="correo">
           </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size="9">
          <ion-text>
            <h5>Correo estudiantil</h5>
          </ion-text>
          <ion-item class="ion-margin input-icon">
            <ion-input clear-input="true" type="text" required
            name="correo">
           </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size="9">
          <ion-text>
            <h5>Número de teléfono</h5>
          </ion-text>
          <ion-item class="ion-margin input-icon">
            <ion-input clear-input="true" type="number" required
            name="correo">
           </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size="9">
          <ion-text>
            <h5>Carrera matriculada</h5>
          </ion-text>
          <ion-item class="ion-margin input-icon">
            <ion-select placeholder="carreras">
              <ion-select-option value="CE">Ingeniería en Computadores</ion-select-option>
              <ion-select-option value="EL">Ingeniería en Electrónica</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size="9">
          <ion-text>
            <h5>Provincia de redidencia actual</h5>
          </ion-text>
          <ion-item class="ion-margin input-icon">
            <ion-select placeholder="provincias">
              <ion-select-option value="G">Guanacaste</ion-select-option>
              <ion-select-option value="SJ">San José</ion-select-option>
              <ion-select-option value="C">Cartago</ion-select-option>
              <ion-select-option value="A">Alajuela</ion-select-option>
              <ion-select-option value="H">Heredia</ion-select-option>
              <ion-select-option value="L">Limón</ion-select-option>
              <ion-select-option value="P">Puntarenas</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size="9">
          <ion-text>
            <h5>Provincia en la que se cursa en la universidad</h5>
          </ion-text>
          <ion-item class="ion-margin input-icon">
            <ion-select placeholder="provincias">
              <ion-select-option value="G">Guanacaste</ion-select-option>
              <ion-select-option value="SJ">San José</ion-select-option>
              <ion-select-option value="C">Cartago</ion-select-option>
              <ion-select-option value="A">Alajuela</ion-select-option>
              <ion-select-option value="H">Heredia</ion-select-option>
              <ion-select-option value="L">Limón</ion-select-option>
              <ion-select-option value="P">Puntarenas</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size="9">
          <ion-text>
            <h5>Área de interes</h5>
          </ion-text>
          <ion-item class="ion-margin input-icon">
            <ion-select placeholder="área de interes">
              <ion-select-option value="A">Académica</ion-select-option>
              <ion-select-option value="D">Deportiva</ion-select-option>
              <ion-select-option value="C">Cultural</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size="4">
          <ion-button color="medium" expand="block">guardar</ion-button>
        </ion-col>
        <ion-col class="ion-align-self-center" size="6">
          <ion-button color="danger" expand="block">eliminar cuenta</ion-button>
        </ion-col>
    </ion-row>
    </ion-grid>
  </form>
</ion-content>
