ion-title{
    text-align:center; 
}

h5 {
    text-align:center;
}

.input-icon{
    border-radius: 2vh;
    color: #ffff;
    font-size: 12px;
}
.cabecera{
    border-style: groove;

}
.titulo{
    font-size: 20px;
}
