.cabecera{
    font-size: 20px; 
}
.titulo{
    font-size: 17px;
    border-style: groove;
}

.subtitulo{
    font-size: 17px;
}
.cantidad-tableros{
    font-size: 20px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

ion-slides {
    height: 30vh;
    background-color: #616161;
}
.carta{
    width: 100%;
}
