<img class="wallpaper" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1606235915/CE3101/Segundo%20Proyecto/Fondo_de_pantalla_login.jpg">

<div class="container registerContainer">
    <img class="logo" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621969581/CE4101/TaskPlanner/Logo.png">

    <img class="studentLogo" (click)="goToStudentRegister()" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621987021/CE4101/TaskPlanner/Student.png">
    <h1 class="studentLabel" (click)="goToStudentRegister()">Estudiante</h1>

    <img class="teacherLogo" (click)="goToTeacherRegister()" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621987021/CE4101/TaskPlanner/Teacher.png">
    <h1 class="teacherLabel" (click)="goToTeacherRegister()">Profesor</h1>
</div>

<img class="goBackLogo" matTooltip="Atrás" (click)="goToLogin()" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621985612/CE4101/TaskPlanner/Back.png">