<img class="wallpaper" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1606235915/CE3101/Segundo%20Proyecto/Fondo_de_pantalla_login.jpg">

<div class="container loginContainer">
    <img class="logo" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621969581/CE4101/TaskPlanner/Logo.png">
    <input type="text" id="email" class="loginInput" style="top: 45vh;" placeholder="Ingrese su correo institucional">
    <input type="password" id="password" class="loginInput" style="top: 53vh;" placeholder="Ingrese su contraseña">
    <button class="loginButton" (click)="login()" style="top: 63vh;" >Iniciar Sesión</button>
    <h1 class="registerLabel" (click)="goToRegister()">¿No tienes una cuenta aún? Registrate aquí</h1>
</div>

<img class="infoLogo" matTooltip="Mostrar información" (click)="showInfo()" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621979930/CE4101/TaskPlanner/Info.png">
