.registerInput{
    position: absolute;
    width: 22vw;
    height: 4vh;
    border-radius: 1vh;
    font-size: medium;
    text-align: center;
    display: inline-block;      
    transform: translate(-50%);
    font-size: 2.45vh;
    border-color: black;
}

.registerDropList{
    position: absolute;
    border-radius: 1vh;
    width: 22.4vw;
    height: 4.5vh;
    font-size: medium;
    text-align-last: center;
    border-color: black;
    cursor: pointer;
    border-width: 0.3vh;
}

.titleLabel{
    position: absolute;
    font-size: 1.6vw;
    color: black;
 }


 .registerButton{
    position: absolute;
    width: 47.5vw;
    height: 18vh;
    border-radius: 2vh;
    font-size: 4vh;
    color: white;
    background-color: #3B8686;
    display: inline-block;
    top: 45vh;   
    left: 73.8vw;                  
    transform: translate(-50%);
    cursor: pointer;
    border-color:black;
}
