<ion-content>
  <ion-row class="nombre ion-justify-content-center">
    <ion-col class="ion-align-self-center ion-text-center" size="2">
    </ion-col>
    <ion-col class="ion-text-center ion-align-self-center">
      <b>{{tarea.nombre}}</b>
    </ion-col>
    <ion-col class="ion-align-self-center ion-text-center" size="2">
      <ion-icon name="close" style="zoom:1.7;" (click)="dimiss()"></ion-icon>
    </ion-col>
  </ion-row>


  <ion-grid>
    <ion-row class="titulo-descripcion ion-justify-content-center">
      <ion-col class="ion-text-center ion-align-self-center">
        <b>Descripción</b>
      </ion-col>
    </ion-row>
  
    <ion-row class="descripcion ion-justify-content-center">
      <ion-col class="ion-text-center ion-align-self-center">
        <p>{{tarea.descripcion}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row class="tipo ion-justify-content-center">
      <ion-col class="ion-text-start ion-align-self-center">
        Fecha de inicio:
      </ion-col>
      <ion-col class="ion-text-end ion-align-self-center">
        {{tarea.fechaInicio}}
      </ion-col>
    </ion-row>
    <ion-row class="creador ion-justify-content-center">
      <ion-col class="ion-text-start ion-align-self-center">
        Fecha de finalización:
      </ion-col>
      <ion-col class="ion-text-end ion-align-self-center">
        {{tarea.fechaFinalizacion}}
      </ion-col>
    </ion-row>
  </ion-grid>
  

  <ion-grid>
    <ion-list class="lista-colaboradores">
      <ion-list-header lines="inset" class="ion-text-center">
        <ion-label><b>Encargados de la tarea</b></ion-label>
      </ion-list-header>
      <ion-item *ngFor="let encargado of tarea.encargados">
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center">
            {{encargado.nombre}}
          </ion-col>
          <ion-col class="ion-align-self-center">
            <i>{{encargado.correoInstitucional}}</i>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>

  <ion-grid>
    <ion-list class="lista-profesores">
      <ion-list-header lines="inset" class="ion-text-center">
        <ion-label><b>Dependencias</b></ion-label>
      </ion-list-header>
      <ion-item *ngFor="let dependencia of tarea.dependencias">
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center">
           {{dependencia}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    
  </ion-grid>
</ion-content>