<div class="backgroundContainer">
    <div class="navbarContainer">
        <img class="navbarLogo" (click)="goToBoards()" style="left:3vw; cursor: pointer;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1622076899/CE4101/TaskPlanner/Table.png">
        <h3 class="navbarLabel" (click)="goToBoards()" style="left:2.9vw; cursor: pointer;">Tableros</h3>
        <img class="navbarLogo" (click)="goToFriends()" style="left:25vw; cursor:pointer;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1622076899/CE4101/TaskPlanner/Friends.png">
        <h3 class="navbarLabel" (click)="goToFriends()" style="left:25vw; cursor:pointer;">Amigos</h3>
        <img class="navbarLogo" (click)="goToStats()" style="left:48vw; cursor:pointer" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1622076899/CE4101/TaskPlanner/Stats.png">
        <h3 class="navbarLabel" (click)="goToStats()" style="left:47.1vw; cursor:pointer;">Estadísticas</h3>
        <img class="navbarLogo" (click)="goToStudentProfile()" style="left:72vw; cursor:pointer;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1622076899/CE4101/TaskPlanner/Profile.png">
        <h3 class="navbarLabel" (click)="goToStudentProfile()" style="left:72.67vw; cursor:pointer;">Perfil</h3>
        <img class="navbarLogo" (click)="logOut()" style="left:94vw; cursor: pointer;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1622076899/CE4101/TaskPlanner/Logout.png">
        <h3 class="navbarLabel" (click)="logOut()" style="left:92.2vw; cursor:pointer;">Cerrar Sesión</h3>
    </div>

    <h1 class="titleLabel" style="left: 2vw;">{{board.name}}</h1>
    <img class="outsideLogo" *ngIf="owner" matTooltip="Compartir el tablero" (click)="shareBoard()" style="top: 18.2vh; left: 82.1vw; height: 9%;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621979930/CE4101/TaskPlanner/Share.png">
    <img class="outsideLogo" *ngIf="owner" matTooltip="Editar el tablero" (click)="editBoard()" style="top: 18.3vh; left: 88.5vw; height: 8.7%;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621979930/CE4101/TaskPlanner/Edit.png">
    <img class="outsideLogo" *ngIf="owner" matTooltip="Eliminar el tablero" (click)="deleteBoard()" style="top: 18vh; left: 94vw; height: 9%;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621979930/CE4101/TaskPlanner/Delete.png">
    <button class="criticButton" *ngIf="owner"(click)="openCriticRoute()" style="top: 19vh; left: 54.5vw;">Generar ruta crítica</button>

    <button class="criticButton" *ngIf="!owner"(click)="openCriticRoute()" style="top: 19vh; left: 76vw;">Generar ruta crítica</button>


    <div id="horizontalScroll">
        <div class="container stateParentContainer" *ngFor="let state of states; let i = index">
            <div class="container stateContainer">
                <div class="example-container">
                    <div
                      cdkDropList
                      id="{{state.realID}}"
                      [cdkDropListData]="state.tasks"
                      [cdkDropListConnectedTo]="connectedTo"
                      class="example-list"
                      (cdkDropListDropped)="drop($event,state)">
                      <div class="example-box" *ngFor="let task of state.tasks; let j = index;" cdkDrag>
                        <div style="top: -2vh; left: 0.5vw; position: relative;">
                            <h1 style="position: relative; font-size: 1.2vw; max-width: 20vw;">{{task.name}}</h1>
                        </div>
                        <div style="top: 0vh; left: 0.4vw; position: relative;">
                            <p style="position: absolute; top: 2.1vh; left: -18.3vw; font-size: 0.9vw; max-width: 20vw;">Creada el {{task.startDate.slice(0,-9)}}. <br>Finaliza el {{task.endDate.slice(0,-9)}}.</p>
                            <img class="insideLogo" matTooltip="Abrir tarea" (click)="openTask(j,i)" style="top: 2.5vh; left: -1vw; height: 3.5vh;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621979930/CE4101/TaskPlanner/Info2.png">

                        </div>
                        </div>
                        <img class="insideLogo" *ngIf="state.tasks.length!=0" matTooltip="Crear tarea" (click)="createTask(i)" style="top: 4vh; left: 8vw; height: 12vh;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621979930/CE4101/TaskPlanner/NewTask.png">
                        <h1 *ngIf="state.tasks.length!=0" style="color: white; cursor: default; user-select: none;" >Ignore</h1>
                    </div>
                </div>
                <h1 class="stateLabel">{{state.name}}</h1>
                <img class="outsideLogo" *ngIf="state.tasks.length==0" matTooltip="Crear tarea" (click)="createTask(i)" style="top: 25vh; left: 9vw; height: 12vh;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621979930/CE4101/TaskPlanner/NewTask.png">
                <img class="outsideLogo" matTooltip="Editar estado de completitud" (click)="editState(i)" style="top: 3vh; left: 19vw; height: 4vh;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621979930/CE4101/TaskPlanner/Edit.png">
                <img class="outsideLogo" matTooltip="Eliminar estado de completitud" (click)="deleteState(i)" style="top: 3vh; left: 21.5vw; height: 4vh;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621979930/CE4101/TaskPlanner/Delete.png">

            </div>
        </div>  
        <img class="insideLogo" matTooltip="Crear estado de completitud" (click)="createNewState()" style="top: 24vh; left: 1.5vw; height: 25%;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621979930/CE4101/TaskPlanner/New.png">
    </div>
</div>

