<div>
    <h1 class="titleLabel" style="top: -1vh;">Nombre del tipo de tablero:</h1>
    <input type="text" id="typeName" class="editInput" style="top: -3vh; left: -0.1vw; " placeholder="Nombre del tipo de tablero">
</div>

<div>
    <img class="logoPopup" matTooltip="Atrás" mat-dialog-close style="top: -13.5vh; left: 34vw; height: 3vw;" src="https://res.cloudinary.com/dfionqbqe/image/upload/v1621979930/CE4101/TaskPlanner/Back2.png">
</div>

<div>
    <button class="saveChangesButton"  (click)="createType()" style="top: -6vh;" >Crear tipo de tablero</button>
</div>

