.input{
    color: #ffff;
    border-radius: 2vh;
    font-size: 12px;
}

.lista{
    max-height: 80vh;
    min-height: 80vh;
    overflow-y: scroll;
}
.carta{
    width: 100%;
}
.titulo{
    font-size: 20px;
}